#buttonDiv {
    justify-content: center;
    display: flex;
}

#container {
    display: flex;
    flex-flow: row wrap;
    margin:0;
    /* justify-content: space-between; */
}

div#hidden {
    display: none;
}

.gridItem {
    background-color:rgb(122, 82, 49)
}

html, body {
    background-color: rgb(160, 107, 63);
    margin: 0;
}

