#buttonDiv {
    justify-content: center;
    display: flex;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#container > div {
    color: white;
    width: .0625%;
    margin: 5px;
}

div#hidden {
    display: none;
}